In [2]:
import yfinance as yf
df = yf.download('005930.KS','2022-10-26','2023-10-26')
df.to_excel("삼성전자.xlsx")
df.to_csv("삼성전자.csv")

[*********************100%%**********************]  1 of 1 completed

In [3]:
df

               Open     High      Low    Close     Adj Close    Volume
Date
2022-10-26  58000.0  59600.0  57700.0  59400.0  58399.613281  20824967
2022-10-27  59700.0  60100.0  58900.0  59500.0  58497.925781  21756712
2022-10-28  58900.0  59200.0  57200.0  57300.0  56334.980469  20924937
2022-10-31  58100.0  59900.0  58000.0  59400.0  58399.613281  18999514
2022-11-01  59900.0  60300.0  59500.0  60000.0  58989.503906  17201647
...             ...      ...      ...      ...           ...       ...
2023-10-19  69700.0  70000.0  69400.0  69500.0  69500.000000  13985012
2023-10-20  68900.0  69200.0  68100.0  68800.0  68800.000000  15204495
2023-10-23  68700.0  69100.0  68200.0  68400.0  68400.000000  11625959
2023-10-24  68700.0  68800.0  67700.0  68500.0  68500.000000  12791710
2023-10-25  68800.0  68800.0  67900.0  68000.0  68000.000000  10610703

[247 rows x 6 columns]

컬럼의 open은 시가, high는 고가, low는 저가, close는 종가, Volume은 거래량

In [1]:
import datetime
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

C:\Users\takea\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
stock = pd.read_csv(r"C:\Users\takea\Desktop\DeepLearning\datasets\week8\train.csv")

In [3]:
stock

              일자     종목코드     종목명      거래량     시가     고가     저가     종가
0       20210601  A060310      3S   166690   2890   2970   2885   2920
1       20210601  A095570  AJ네트웍스    63836   5860   5940   5750   5780
2       20210601  A006840   AK홀딩스   103691  35500  35600  34150  34400
3       20210601  A054620     APS   462544  14600  14950  13800  14950
4       20210601  A265520   AP시스템   131987  29150  29150  28800  29050
...          ...      ...     ...      ...    ...    ...    ...    ...
987995  20230530  A189980  흥국에프엔비   272284   3005   3035   2955   2980
987996  20230530  A000540    흥국화재    50218   3250   3255   3195   3215
987997  20230530  A003280    흥아해운   130664   1344   1395   1340   1370
987998  20230530  A037440      희림   141932   9170   9260   9170   9200
987999  20230530  A238490      힘스  2611843   6410   8220   6300   8220

[988000 rows x 8 columns]

In [4]:
stock.columns = ['Date', 'Code', 'Name', 'Volume', 'Open', 'High', 'Low','Close']

In [5]:
stock

            Date     Code    Name   Volume   Open   High    Low  Close
0       20210601  A060310      3S   166690   2890   2970   2885   2920
1       20210601  A095570  AJ네트웍스    63836   5860   5940   5750   5780
2       20210601  A006840   AK홀딩스   103691  35500  35600  34150  34400
3       20210601  A054620     APS   462544  14600  14950  13800  14950
4       20210601  A265520   AP시스템   131987  29150  29150  28800  29050
...          ...      ...     ...      ...    ...    ...    ...    ...
987995  20230530  A189980  흥국에프엔비   272284   3005   3035   2955   2980
987996  20230530  A000540    흥국화재    50218   3250   3255   3195   3215
987997  20230530  A003280    흥아해운   130664   1344   1395   1340   1370
987998  20230530  A037440      희림   141932   9170   9260   9170   9200
987999  20230530  A238490      힘스  2611843   6410   8220   6300   8220

[988000 rows x 8 columns]

In [6]:
stock['Name'].value_counts()

3S         494
유화증권       494
이녹스        494
이노테라피      494
이노와이어리스    494
          ...
바이브컴퍼니     494
바이넥스       494
바른손이앤에이    494
바른손        494
힘스         494
Name: Name, Length: 2000, dtype: int64

In [7]:
stock_AJ = stock[stock['Code']=='A060310']

In [8]:
stock_AJ = stock_AJ [['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]

In [9]:
stock_AJ

            Date  Open  High   Low  Close    Volume
0       20210601  2890  2970  2885   2920    166690
2000    20210602  2915  2975  2830   2900    134833
4000    20210603  2900  2925  2875   2900    144470
6000    20210604  2930  3120  2920   2950    934224
8000    20210607  3000  3150  2955   3150    946560
...          ...   ...   ...   ...    ...       ...
978000  20230523  2300  2315  2260   2285    117084
980000  20230524  2280  2300  2255   2280     67101
982000  20230525  2260  2285  2235   2245     91789
984000  20230526  2245  2915  2230   2910  13590249
986000  20230530  2805  3460  2570   3015  76952993

[494 rows x 6 columns]

In [10]:
stock_AJ['Date'].value_counts()

20210601    1
20221017    1
20221013    1
20221012    1
20221011    1
           ..
20220120    1
20220119    1
20220118    1
20220117    1
20230530    1
Name: Date, Length: 494, dtype: int64

In [12]:
def MinMaxScaler(data):
    """최솟값과 최댓값을 이용하여 0 ~ 1 값으로 변환"""
    numerator = data - np.min(data, 0)
    denominator = np.max(data, 0) - np.min(data, 0)
    # 0으로 나누기 에러가 발생하지 않도록 매우 작은 값(1e-7)을 더해서 나눔
    return numerator / (denominator + 1e-7)

In [13]:
dfx = stock_AJ[['Open','High','Low','Volume', 'Close']]
dfx = MinMaxScaler(dfx)
dfy = dfx[['Close']]
dfx = dfx[['Open','High','Low','Volume']]
dfx

            Open      High       Low    Volume
0       0.362534  0.347349  0.420705  0.001621
2000    0.372311  0.349177  0.396476  0.001207
4000    0.366445  0.330896  0.416300  0.001332
6000    0.378178  0.402194  0.436123  0.011601
8000    0.405553  0.413163  0.451542  0.011761
...          ...       ...       ...       ...
978000  0.131795  0.107861  0.145374  0.000976
980000  0.123973  0.102377  0.143172  0.000326
982000  0.116152  0.096892  0.134361  0.000647
984000  0.110285  0.327239  0.132159  0.176155
986000  0.329292  0.526508  0.281938  1.000000

[494 rows x 4 columns]

In [14]:
dfx.describe()

             Open        High         Low      Volume
count  494.000000  494.000000  494.000000  494.000000
mean     0.388270    0.371748    0.428200    0.011022
std      0.223416    0.216861    0.243649    0.053506
min      0.000000    0.000000    0.000000    0.000000
25%      0.158193    0.154022    0.174559    0.001332
50%      0.390888    0.384826    0.431718    0.002464
75%      0.534611    0.504113    0.583700    0.005128
max      1.000000    1.000000    1.000000    1.000000

In [15]:
# 두 데이터를 리스트 형태로 저장
X = dfx.values.tolist()
y = dfy.values.tolist()

In [16]:
window_size = 20

data_X = []
data_y = []
for i in range(len(y) - window_size):
    _X = X[i : i + window_size] # 다음 날 종가(i+windows_size)는 포함되지 않음
    _y = y[i + window_size]     # 다음 날 종가
    data_X.append(_X)
    data_y.append(_y)
print(_X, "->", _y)

[[0.07704341024336944, 0.05484460694497826, 0.07488986783811058, 0.0012808444922087566], [0.06335549471789771, 0.04570383912081522, 0.07048458149469232, 0.001199113634964142], [0.05357841219970363, 0.06581352833397391, 0.07488986783811058, 0.0013334117616710503], [0.09073132576884117, 0.07312614259330436, 0.10792951541374761, 0.0003301869423682774], [0.09268674227247999, 0.06581352833397391, 0.0947136563834928, 0.00034377407978803916], [0.08682049276156353, 0.07312614259330436, 0.11233480175716587, 0.00029817590664822625], [0.09464215877611881, 0.08226691041746739, 0.11894273127229328, 0.0013799850882141953], [0.11028549080522936, 0.08592321754713261, 0.1255506607874207, 0.000483299028736808], [0.114196323812507, 0.1042047531954587, 0.1343612334742572, 0.0012070058765084437], [0.11810715681978463, 0.10054844606579348, 0.1387665198176755, 0.00042293053204785696], [0.12006257332342345, 0.09506398537129565, 0.12995594713083897, 0.0003577772826598893], [0.10833007430159054, 0.0840950639823, 0.11233480175716587, 0.0009727870310734309], [0.09855299178339645, 0.08775137111196522, 0.11894273127229328, 0.0007246039889027013], [0.11028549080522936, 0.09872029250096087, 0.13656387664596636, 0.0011905842931963296], [0.13179507234525636, 0.10603290676029131, 0.1519823788479303, 0.0026100045850412784], [0.12983965584161755, 0.11517367458445435, 0.14096916298938464, 0.0014869269114462914], [0.13179507234525636, 0.10786106032512392, 0.14537444933280289, 0.0009760245403724937], [0.12397340633070109, 0.10237659963062609, 0.14317180616109376, 0.0003261433062557933], [0.11615174031614581, 0.09689213893612826, 0.1343612334742572, 0.0006471378025419926], [0.11028549080522936, 0.32723948810503695, 0.1321585903025481, 0.1761547272524533]] -> [0.39539347407311354]

In [17]:
print('전체 데이터의 크기 :', len(data_X), len(data_y))

전체 데이터의 크기 : 474 474

In [18]:
train_size = int(len(data_y) * 0.7)
train_X = np.array(data_X[0 : train_size])
train_y = np.array(data_y[0 : train_size])

test_size = len(data_y) - train_size
test_X = np.array(data_X[train_size : len(data_X)])
test_y = np.array(data_y[train_size : len(data_y)])

print('훈련 데이터의 크기 :', train_X.shape, train_y.shape)
print('테스트 데이터의 크기 :', test_X.shape, test_y.shape)

훈련 데이터의 크기 : (331, 20, 4) (331, 1)
테스트 데이터의 크기 : (143, 20, 4) (143, 1)

In [19]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [22]:
model = Sequential()
model.add(LSTM(units=20, activation='relu', return_sequences=True, input_shape=(10, 4)))
model.add(Dropout(0.1))
model.add(LSTM(units=20, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(units=1))
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_2 (LSTM)               (None, 10, 10)            600

 dropout_2 (Dropout)         (None, 10, 10)            0

 lstm_3 (LSTM)               (None, 10)                840

 dropout_3 (Dropout)         (None, 10)                0

 dense_1 (Dense)             (None, 1)                 11

=================================================================
Total params: 1451 (5.67 KB)
Trainable params: 1451 (5.67 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(train_X, train_y, epochs=70, batch_size=30)
pred_y = model.predict(test_X)

Epoch 1/70

ValueError: in user code:

    File "C:\Users\takea\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1377, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\takea\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1360, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\takea\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1349, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\takea\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1126, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\takea\anaconda3\lib\site-packages\keras\src\utils\traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\takea\anaconda3\lib\site-packages\keras\src\engine\input_spec.py", line 298, in assert_input_compatibility
        raise ValueError(

    ValueError: Input 0 of layer "sequential_1" is incompatible with the layer: expected shape=(None, 10, 4), found shape=(None, 20, 4)

In [11]:
# save original 'Open' prices for later
original_open = stock_AJ['Open'].values

# separate dates for future plotting
dates = pd.to_datetime(stock_AJ['Date'])

In [12]:
dates

0        1970-01-01 00:00:00.020210601
2000     1970-01-01 00:00:00.020210602
4000     1970-01-01 00:00:00.020210603
6000     1970-01-01 00:00:00.020210604
8000     1970-01-01 00:00:00.020210607
                      ...
978000   1970-01-01 00:00:00.020230523
980000   1970-01-01 00:00:00.020230524
982000   1970-01-01 00:00:00.020230525
984000   1970-01-01 00:00:00.020230526
986000   1970-01-01 00:00:00.020230530
Name: Date, Length: 494, dtype: datetime64[ns]

In [13]:
# variables for training
cols = list(stock_AJ)[1:6]

# new dataframe with only training data - 5 columns
stock_AJ = stock_AJ[cols].astype(float)

In [14]:
cols

['Open', 'High', 'Low', 'Close', 'Volume']

In [15]:
from sklearn.preprocessing import StandardScaler

# normalize the dataset
scaler = StandardScaler()
scaler = scaler.fit(stock_AJ)
stock_data_scaled = scaler.transform(stock_AJ)

In [16]:
TR = 9

In [22]:
print(stock_data_scaled.shape[0])

494

In [24]:
print(TR*stock_data_scaled.shape[0])

4446

In [16]:
# split to train data and test data
n_train = int(TR *stock_data_scaled.shape[0])
train_data_scaled = stock_data_scaled[0: n_train]
train_dates = dates[0: n_train]

test_data_scaled = stock_data_scaled[n_train:]
test_dates = dates[n_train:]

In [18]:
"""from IPython.display import Image

Image('stock.png')"""

"from IPython.display import Image\n\nImage('stock.png')"

In [28]:
train_data_scaled.shape

NameError: name 'train_data_scaled' is not defined

:

In [19]:
# data reformatting for LSTM

pred_days = 1  # prediction period
seq_len = 14   # sequence length = past days for future prediction.
input_dim = 5  # input_dimension = ['Open', 'High', 'Low', 'Close', 'Volume']

trainX = []
trainY = []
testX = []
testY = []

for i in range(seq_len, n_train-pred_days + 1):
    trainX.append(train_data_scaled[i - seq_len:i, 0:train_data_scaled.shape[1]])
    trainY.append(train_data_scaled[i + pred_days - 1:i + pred_days, 0])

for i in range(seq_len, len(test_data_scaled)-pred_days +1):
    testX.append(test_data_scaled[i - seq_len:i, 0:test_data_scaled.shape[1]])
    testY.append(test_data_scaled[i + pred_days - 1:i + pred_days, 0])

trainX, trainY = np.array(trainX), np.array(trainY)
testX, testY = np.array(testX), np.array(testY)

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (4432,) + inhomogeneous part.

In [ ]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv2D, MaxPool2D
from tensorflow.keras.optimizers import Adam
import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten, Reshape, LSTM, Conv1D, MaxPooling1D
from tensorflow.keras.layers import TimeDistributed, Conv1D, MaxPooling1D
from keras.utils import np_utils

ImportError: cannot import name 'np_utils' from 'keras.utils' (c:\Users\takea\anaconda3\lib\site-packages\keras\utils\__init__.py)

In [ ]:
model = Sequential()
model.add(LSTM(units=20, activation='relu', return_sequences=True, input_shape=(10, 4)))
model.add(Dropout(0.1))
model.add(LSTM(units=20, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(units=1))
model.summary()

In [ ]:
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(trainX, trainY, epochs=70, batch_size=30)
pred_y = model.predict(testX)

In [ ]:
pred_y = model.predict(testX)

plt.figure()
plt.plot(testY, color='red', label='Real stock price')
plt.plot(pred_y, color='blue', label='predicted stock price')
plt.title('SEC stock price prediction')
plt.xlabel('time')
plt.ylabel('stock price')
plt.legend()
plt.show()